<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="firstname" @keyup="getfirstname">
    +
    <input type="text" v-model="lastname"  @keyup="getlastname">
    =
    <input type="text" v-model="fullname">
</div>

</body>
<script>

    var vm = new Vue({
        el: '#app',
        data: {
            firstname: '',
            lastname: '',
            fullname: ''
        },
        methods: {
            getfirstname(){
                this.fullname = this.firstname + this.lastname;
            },
            getlastname(){
                this.fullname = this.firstname + this.lastname;
            }
        }
    });
</script>
</html>
